#room {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .heading {
    text-transform: capitalize;
  }
  p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  .text-wrapper {
    text-align: center;
  }
  .img-wrapper {
    width: 100%;
    height: 60vh;
    margin-bottom: 1rem;
  }
  .cta-wrapper {
    margin-top: 1rem;
    padding-bottom: 2rem;
    a {
      display: inline-block;
      padding: 1rem 2rem;
      background-color: black;
      color: white;
      margin-right: 1rem;
    }

    button {
      background-color: red;
      outline: none;
      border: none;
      padding: 1rem 2rem;
      color: white;
      font-weight: 90;
    }
  }
}
